**/__pycache__/
**/.ipynb_checkpoints/
**/experiments/
**/experiments_past/
**/experiments_harder_grid/
**/experiment_older_version/
**/experiment_code_previous/
**/wandb/
**/.metals/
**/.vscode/
**/random/
**/experiments_hd_grid/